src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8f64e9a9-045b-4541-be8a-909637e71022" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="azure-cicd-demoFlow" doc:id="64a33a74-7541-4934-adf1-95d4cd224338" >
		<http:listener doc:name="Listener" doc:id="3043ddf9-5c93-4020-a911-37e548f721b7" config-ref="HTTP_Listener_config" path="/azure"/>
		<ee:transform doc:name="success" doc:id="c3f7d17a-ea87-4da0-a48a-594e39d2b0a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"azure-cicd"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f8025a0c-5313-4ce0-ba32-72572c52e6cd" message='#["azure cicd"]'/>
	</flow>
</mule>
